* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

:root {
  --color-bg: #f2f2f2;
  --color-text: #1a1a1a;
  --color-link: #630563;
  --color-primary: #800080;
  --color-primary-dk: #330033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1a1a1a;
    --color-text: #f2f2f2;
    --color-link: #e1a6e1;
    --color-primary: #cc33cc;
    --color-primary-dk: #7a1f7a;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.125rem;
  margin-bottom: 0.125rem;
}

section {
  margin-bottom: 2rem;
}

ul {
  margin: 0 0 2rem 2rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

a:active {
  color: var(--color-primary-dk);
}

.container {
  max-width: 640px;
  margin: auto;
}

.header {
  margin-bottom: 2rem;
}

.icon {
  display: inline-block;
  fill: var(--color-text);
  height: 1.5rem;
  stroke: none;
  width: 1.5rem;
}

.icon:hover {
  fill: var(--color-primary);
}

.icon-link,
.icon-link:hover,
.icon-link:active {
  color: transparent;
  text-decoration: none;
}